<div id="about" class="container px-2 mt-5">
  <div class="header__wrapper"><h1 class="header__header">Contact me!</h1></div>
</div>
<div class="mb-5 container">
  <div class="row">
    <div class="col-lg-4">
      <div class="box box-align">
        <a
          href="https://linkedin.com/in/jordis91/"
          target="_blank"
          aria-label="LinkedIn Profile"
        >
          <div class="hexagon-icon-wrapper">
            <div class="hexagono-wrapper">
              <div class="hexagono-1">
                <div class="hexagono-2">
                  <div class="icon">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <h2>LinkedIn</h2>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box box-align">
        <a href="mailto:jordi.s91@gmail.com" aria-label="Contact by Mail">
          <div class="hexagon-icon-wrapper">
            <div class="hexagono-wrapper">
              <div class="hexagono-1">
                <div class="hexagono-2">
                  <div class="icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <h2>Email</h2>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box box-align">
        <a
          href="https://github.com/itzjoordi"
          target="_blank"
          aria-label="Github Profile"
        >
          <div class="hexagon-icon-wrapper">
            <div class="hexagono-wrapper">
              <div class="hexagono-1">
                <div class="hexagono-2">
                  <div class="icon">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <h2>Github</h2>
      </div>
    </div>
  </div>
</div>

<footer class="d-flex justify-content-center align-items-center background">
  © {{ year }} Jordi Soler
</footer>
