<div id="about" class="container px-2 mt-5">
  <div class="header__wrapper"><h1 class="header__header">Contact me!</h1></div>
</div>
<div class="my-5 container">
  <div class="row">
    <div class="col-lg-4">
      <div class="box box-align">
        <a href="https://linkedin.com/in/jordis91/" target="_blank">
          <div class="hexagon-icon-wrapper">
            <div class="icon">
              <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </div>
            <div class="hexagono-wrapper">
              <div class="hexagono-1"><div class="hexagono-2"></div></div>
            </div>
          </div>
        </a>
        <h2>LinkedIn</h2>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box box-align">
        <a href="mailto:jordi.s91@gmail.com">
          <div class="hexagon-icon-wrapper">
            <div class="icon" style="margin: 50px 20px 50px 43px">
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </div>
            <div class="hexagono-wrapper">
              <div class="hexagono-1"><div class="hexagono-2"></div></div>
            </div>
          </div>
        </a>
        <h2>Email</h2>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box box-align">
        <a href="https://github.com/itzjoordi" target="_blank">
          <div class="hexagon-icon-wrapper">
            <div class="icon" style="margin: 48px 20px 50px 35px">
              <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            </div>
            <div class="hexagono-wrapper">
              <div class="hexagono-1"><div class="hexagono-2"></div></div>
            </div>
          </div>
        </a>
        <h2>Github</h2>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center background">
  © {{ year }} Jordi Soler
</div>
