<div id="about" class="container px-2 mt-5">
  <div class="header__wrapper"><h1 class="header__header">Contact me!</h1></div>
</div>
<div class="mt-5 container">
  <div class="row">
    <div class="col-lg-4">
      <div class="box box-align">
        <div class="hexagon-icon-wrapper">
          <div class="icon margin-left">
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
          </div>
          <div class="hexagono-wrapper">
            <div class="hexagono-1"><div class="hexagono-2"></div></div>
          </div>
        </div>
        <h2>LinkedIn</h2>
        <a href="https://linkedin.com/in/jordis91/" class="text-decoration-none"
          ><span class="details-services">linkedin.com/in/jordis91/</span></a
        >
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box box-align">
        <div class="hexagon-icon-wrapper">
          <div class="icon margin-left">
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
          </div>
          <div class="hexagono-wrapper">
            <div class="hexagono-1"><div class="hexagono-2"></div></div>
          </div>
        </div>
        <h2>Email</h2>
        <span class="details-services">jordi.s91@gmail.com</span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box box-align">
        <div class="hexagon-icon-wrapper">
          <div class="icon margin-left">
            <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
          </div>
          <div class="hexagono-wrapper">
            <div class="hexagono-1"><div class="hexagono-2"></div></div>
          </div>
        </div>
        <h2>Phone</h2>
        <span class="details-services">618604954</span>
      </div>
    </div>
  </div>
</div>
