<div id="about" class="container px-0">
  <div class="header__wrapper"><h1 class="header__header">About me</h1></div>
  <div class="row">
    <div class="text-wrapper col-lg-6">
      <div class="about-text">
        <div class="label-bold">Who's this guy?</div>
        <div class="description-me">
          Software Developer located in Barcelona, Spain, with extensive
          experience and knowledge in Frontend development. Specialist in
          Problem solving, Critical Thinking and Teamwork.
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="photo-wrapper">
        <img
          class="profile-img"
          src="assets/perfil_jordi_soler.png"
          alt="Jordi Soler"
        />
      </div>
    </div>
  </div>
</div>
<div class="background">
  <div class="mt-5 py-5 container">
    <div class="row">
      <div class="col-lg-4">
        <div class="box box-align">
          <div class="hexagon-icon-wrapper">
            <div class="icon margin-left">
              <i class="fa fa-desktop fa-4x" aria-hidden="true"></i>
            </div>
            <div class="hexagono-wrapper">
              <div class="hexagono-1"><div class="hexagono-2"></div></div>
            </div>
          </div>
          <h3 class="details-services">Web Development</h3>
          <p class="text-services">
            Proved experience with Angular, HMTL5, CSS3 and JavaScript
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box box-align">
          <div class="hexagon-icon-wrapper">
            <div class="icon margin-left">
              <i class="fa fa-cubes fa-4x" aria-hidden="true"></i>
            </div>
            <div class="hexagono-wrapper">
              <div class="hexagono-1"><div class="hexagono-2"></div></div>
            </div>
          </div>
          <h3 class="details-services">Soft Skills</h3>
          <p class="text-services">
            Knowledge and skills add up, attitude multiplies it
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box box-align">
          <div class="hexagon-icon-wrapper">
            <div class="icon margin-left">
              <i class="fa fa-paper-plane fa-4x" aria-hidden="true"></i>
            </div>
            <div class="hexagono-wrapper">
              <div class="hexagono-1"><div class="hexagono-2"></div></div>
            </div>
          </div>
          <h3 class="details-services">Agile</h3>
          <p class="text-services">
            It’s not what happens to you, but how you react to it that matters
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
