.profile-img {
  width: 16rem;
  height: 16rem;
  padding: 0.3rem;
  border-radius: 50%;
  @media (max-width: 992px) {
    width: 14rem;
    height: 14rem;
  }
  @media (max-width: 576px) {
    width: 10rem;
    height: 10rem;
  }
}

.photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 992px) {
    margin-bottom: 60px;
  }
  @media (max-width: 576px) {
    margin-bottom: 0px;
  }
}

.fa {
  left: -20px;
  bottom: 5px;
  position: relative;
}

.about-text {
  display: flex;
  margin-top: 5px !important;
  align-items: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.653);
  .label-bold {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 20px;
    @media (max-width: 600px) {
      font-size: 16pt;
      font-weight: 600;
    }
  }
  .description-me {
    display: flex;
    font-size: 13pt;
    text-align: pretty;
    line-height: 22pt;
    flex-direction: column;
    @media (max-width: 600px) {
      font-size: 10pt;
    }
  }
}

.text-wrapper {
  display: flex;
  align-items: center;
}

.details-services {
  color: var(--primary-color);
  font-family: "Martel Sans", sans-serif;
  font-size: 18pt;
  text-align: center;
}

.text-services {
  text-align: center;
}

.box-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
  margin-top: 10px;
  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
}

.hexagon-icon-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  @media (max-width: 600px) {
    padding: 30px;
  }
  @media (max-width: 760px) {
    margin-bottom: 20px;
  }

  .hexagono-wrapper {
    background-color: rgb(4, 194, 201);
    height: 15em;
    margin: -3em 0;
    overflow: hidden;
    transform: rotate(120deg);
    visibility: hidden;
    width: 7.5em;
    @media (max-width: 600px) {
      height: 12em;
      width: 7em;
    }

    .hexagono-1 {
      background-color: rgb(4, 194, 201);
      height: 100%;
      overflow: hidden;
      transform: rotate(-60deg);
      width: 100%;
    }
    .hexagono-2 {
      background-color: rgb(4, 194, 201);
      height: 100%;
      transform: rotate(-60deg);
      visibility: visible;
      width: 100%;
    }
  }

  .icon {
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 50px 20px 50px 30px;
    @media (max-width: 600px) {
      margin-top: 25px;
    }
  }
  .margin-left {
    margin-left: 45px;
    @media (max-width: 600px) {
      margin-left: 40px;
    }
  }
  .devices-icon {
    margin-left: -15px;
    margin-top: -7px;
  }
}
