<main>
  <div class="main-info">
    <h1 class="header-title">
      👋 Hello, I'm <span class="color-name">Jordi Soler</span>.
    </h1>
    <h2 class="header-subtitle">Front-end developer</h2>
  </div>
  <div class="animation-area">
    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</main>
