// light theme colors
:root {
  --primary-color: rgb(97, 97, 97);
  --secondary-color: rgb(4, 194, 201);
  --primary-background-color: rgb(255, 255, 255);
  --secondary-background-color: rgb(245, 245, 245);
  --white: rgb(255, 255, 255);
}
