@use "variables";
@use "reset";
@use "grid";

* {
  color: var(--primary-color);
}

html {
  overflow-x: hidden;
}

body {
  font-family:
    "Inter", ui-sans-serif, system-ui, "system-ui", "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--primary-background-color);
  overflow-x: hidden;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.cursor-pointer {
  cursor: pointer;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Martel Sans", sans-serif;
  .header__header {
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }
}

.background {
  background-color: var(--secondary-background-color);

  @media (max-width: 576px) {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin-top: 0rem !important;
  }
}

.fa {
  color: var(--white);
}

.fa-1-5-x {
  font-size: 1.5rem;
}
