<div class="experience">
  <div class="d-flex justify-content-center my-5">
    <div class="header__wrapper">
      <h1 class="header__header">Experience</h1>
    </div>
  </div>
  <div class="container experience-wrapper">
    <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
        <h3>2019 - Present</h3>
        <p>
          <span>Tech Lead - GFT Technologies.</span> Developer and team
          management for Banc Sabadell Online banking website and Mercadona
          internal applications.
        </p>
      </div>
    </div>
    <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
        <h3>2014 - 2019</h3>
        <p>
          <span>Developer - everis (NTT Data).</span> Starting my carreer as
          developer in everis working for Banc Sabadell Online banking website.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="background">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>
</div>
