<div class="experience">
  <div class="d-flex justify-content-center my-5">
    <div class="header__wrapper">
      <h1 class="header__header">Work Experience</h1>
    </div>
  </div>
  <div class="container experience-wrapper">
    <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
        <h3>2019 - Present</h3>
        <p>
          <strong>Tech Lead - GFT Technologies.</strong> I guide the development
          team, aligning our technical vision with product needs. I ensure
          deliverable quality, tackle technical challenges and mentor team
          members for overall project success.
        </p>
      </div>
    </div>
    <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
        <h3>2014 - 2019</h3>
        <p>
          <strong>Developer - everis (NTT Data).</strong> I contribute to web
          application development, collaborating with the team to meet project
          goals. I focus on coding and implementing features, ensuring code
          quality, and actively learning and growing in the dynamic field of web
          development.
        </p>
      </div>
    </div>
  </div>
</div>
